/*
 * h3by3 - 3x3 Handwired Macropad Keymap
 *
 * Default layer (layer 0) : number keys 1-9
 *   1  2  3
 *   4  5  6
 *   7  8  9
 *
 * ZMK Studio unlock: press all 4 corners simultaneously (N1+N3+N7+N9)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";
        combo_studio_unlock {
            timeout-ms = <200>;
            key-positions = <0 2 6 8>;
            bindings = <&studio_unlock>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp N1  &kp N2  &kp N3
                &kp N4  &kp N5  &kp N6
                &kp N7  &kp N8  &kp N9
            >;
        };
    };
};
